{% extends "registrasion/base.html" %}
{% load pyconau2017_tags %}

{% block header_title %}Your profile{% endblock %}
{% block header_paragraph %}
  These details will appear on your badge, your invoices, and will be used
  to order catered food at the conference.
{% endblock %}

{% block scripts_extra %}
  {{ form.media.js }}
  <script type="text/javascript">
  </script>
{% endblock %}

{% block content %}

  <form class="form-horizontal" method="post" action="">
    {% csrf_token %}

    <fieldset>
      {% include "_form_snippet.html" with form=form %}
      <br />
      <div class="btn-group">
        <input class="btn" type="submit" value="Save Profile" />
        <a class="btn btn-primary" href="{% url "dashboard" %}">Return to dashboard</a>
      </div>
    </fieldset>
  </form>
{% endblock %}
